store_file: /tmp/healthprobe/probes.store

polling_interval: 1

probes:
    - name: TEST
    #   type: http
    #   url: http://localhost:8080/health
    #   timeout: 5
      interval: 5
    #   threshold: 5
    #   method: GET
    #   headers:
    #       Content-Type: application/json
    #   body:
    #       key: value
    - name: DICE
      interval: 10
